@font-face {
   font-family: 'GlacialIndifference-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Jonne/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-26_183704/fonts/GlacialIndifference-Regular/font.woff');
}
